.arena{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);

    width: 75vw;

}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    justify-items: center;
    align-items: center;
}

.gameboard{
    justify-self: center;

    display: grid;
    grid-template-columns: repeat(3, 125px);
    grid-template-rows: repeat(3, 125px);
    gap: 3px;

    background-color: black;
}

.square{
    background-color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons{
    justify-self: right;
}