@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 30px;

    background-color:aqua;
}
.arena{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 30px;

    width: 60vw;

}

.players{
    display: flex;
    justify-content: space-around;
}

.player *{
    margin: 0;
    padding: 0;
    text-align: center;
}

.player h1{
    font-size: 1rem;
    font-weight: normal;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
}

.player p{
    font-family: "Permanent Marker";
    font-size: 2.25rem;
    font-weight: bold;
    min-height: 2.25rem;
}
.gameboard{
    justify-self: center;

    display: grid;
    grid-template-columns: repeat(3, 125px);
    grid-template-rows: repeat(3, 125px);
    gap: 3px;

    background-color: black;

    font-family: "Permanent Marker";
    font-size: 3.5rem;
    box-shadow: 8px 8px 15px black;
}

.square{
    background-color: rgb(137, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.arena .buttons{
    justify-self: center;;
}

button{
    border: 0;
    box-shadow: 5px 5px 5px black;
    background-color:antiquewhite;

    font-family: "Permanent Marker";
    font-size: 1.5rem;
}

.arena .buttons button{
    width: 375px;
    height: 45px;
}

button:hover{
    background-color: rgb(221, 207, 189);

}

button:active{
    background-color: rgb(219, 209, 197);

}


#new-game-modal,
#outcome-modal-container{
    display: none;
}

#new-game-modal.active,
#outcome-modal-container.active
{

    background-color: rgba(0, 255, 255, .8);

    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#outcome-modal-container.active{

    font-family: "Permanent Marker";
    font-size: 3rem;
    text-shadow: 10px 10px 20px black;
}


.new-game-screen{

    background-color: aqua;
    box-shadow: 3px 3px 5px black;
    border-radius: 10px;
    padding: 30px;
    font-family: "Permanent Marker";

}

.new-game-screen > form{
    display: grid;
    grid-template-columns: 125px 250px;
    align-items: center;
    gap: 25px;
}

.new-game-screen > form > h1{
    margin: 0;
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}

.new-game-screen > form > .buttons{
    grid-area: 4 / 1 / 5 / 3;

    display: flex;
    justify-content: flex-end;
    gap: 35px; 
}

.new-game-screen > form > label{
    text-align: right;
}

.new-game-screen > form > input{
    padding: 10px 25px;
    font-size: 1em;

    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

.new-game-screen > form button{
    margin-top: 10px;
    padding: 10px 20px;
    box-shadow: 3px 3px 5px black;

}
